@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.woff");
}

body{
    font-family: "Raleway", sans-serif;
    justify-items: center;
    margin:0;
    background-color: #EEF1F2;
}

h1,h2,h3,strong {
    font-family: "Lato", sans-serif;/* Lato seems to have inconsistent letter spacing but as I was specifically instructed to use it there's not much I can do */
}


body >*{
    width: 1160px;
}

aside img{
    width: 1em;

}


header{
    background-color: #17abb3;
    display: flex;
    
}

header > img {
    margin: 45px 100px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-sizing: border-box;
}

header div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 28px;
}
header div h1 {
    font-size: 3.5em;
    margin: 0;
}


header div strong{
    font-size: 1.5em;
    margin:5px
}

header address{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 245px;
    column-gap: 30px;
    justify-content: space-between;
}

header address img {
    width: 20px;
}

header address > * {
    color: white;
    font-style: normal;
    text-decoration: unset;
    display: flex;
    gap: 9px;
    justify-content: start;
    align-content: stretch;
    width: 96px;
}

main {
    display: flex;
}

aside section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

h2 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    color: #17abb3;
    font-weight: normal;
    border-bottom: 1px #e3e3e3 solid;
}

aside {
    background-color: #f5f5f5;
    width: 345px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 51px;
}

aside section {
    display: flex;
    flex-direction: column;
    padding: 0px 47px 35px;
}

aside h3 {
    margin: 10px 0 0;
    font-size: 1em;
}

aside span {width: 150px;display: flex;gap: 2px;justify-content: flex-end;padding-right: 2px;height: 29px;align-items: flex-end;text-wrap-mode: nowrap;font-weight: 600;letter-spacing: 0.25px;}


ul {
    padding-left: 25px;
    margin-top: 12px;
    list-style: square;
    font-size: 16px;
    height: 64px;
    line-height: 20px;
}

li::marker {
    font-size: 25px;
    color: #17abb3;
}
aside li {
    font-weight: 600;
}

main > div {
    flex: 1;
    padding: 50px;
}


main p {
    text-indent: 25px;
    margin: 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.279px;
}

main div h2 {
    margin-bottom: 20px;
}

main div section {
    margin-bottom: 26px;
}

h3 {
    margin: 0;
    font-size: 16px;
    color:#333333
}

section small {
    flex: 90%;
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
}

main div section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

main time {
    color: #17abb3;
    font-weight: bold;
}

footer img {
    width: 31px;
}

footer address {
    display: flex;
    gap: 17px;
    padding: 10px 0 9px;
}

footer small {
    font-size: 11px;
    letter-spacing: 0.5px;
    text-align: left;
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #17abb3;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    box-sizing: border-box;
    color:white
}
